@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #EDD2F3;
    --txtColor: #8E806A;
}

body {
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: 'Comfortaa', cursive;
}

.heading {
    font-size: 100px;
}

.btn {
    border-color: var(--txtColor);
    color: var(--txtColor);
}
.btn:hover {
    background-color: var(--txtColor);
    border-color: var(--txtColor);
    color: var(--bgColor);
}
.btn:focus {
    background-color: var(--txtColor);
    border-color: var(--txtColor);
    color: var(--bgColor);
}

.play-section {
    transition: all .5s ease .5s;
}

.level-display {
    transition: all 2s ease 1s;
}

.game-area {
    transition: all .5s ease 3.5s;
}

.game-over {
    transition: all .5s ease .5s;
}

.win-display {
    transition: all .5s ease .5s;
}

.anim-class {
    transition: all .5s ease .5s;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
.fadeIn {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

canvas {
    border: solid 3px var(--txtColor);
    cursor: none;
}

.blur-effect {
    filter: blur(8px);
    z-index: -1;
}