* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #EDD2F3;
    --txtColor: #8E806A;
}

body {
    background-color: var(--bgColor);
    color: var(--txtColor);
}

.btn {
    border-color: var(--txtColor);
    color: var(--txtColor);
}
.btn:hover {
    background-color: var(--txtColor);
    border-color: var(--txtColor);
    color: var(--bgColor);
}
.btn:active {
    background-color: var(--txtColor);
    border-color: var(--txtColor);
    color: var(--bgColor);
}

.play-section {
    transition: all .5s ease .5s;
}

.level-display {
    transition: all 2s ease 1s;
}

.game-area {
    transition: all .5s ease 3.5s;
    z-index: -1;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}
.fadeIn {
    opacity: 1;
    pointer-events: all;
}

canvas {
    border: solid 3px var(--txtColor);
}